<!DOCTYPE html>
<html>
    <head>
        <h1 align="center">신이나를 만들때</h1>
    </head>
    <body>
        <center><p><%=@myarray%></p></center>

        <center><%= image_tag @picture[0] %>
        <%= image_tag @picture[1] %>
        <%= image_tag @picture[2] %></center>    
        
    </body>
</html>    